/* 공통으로 적용되어야할 css */
html, body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: NEXONLv1Gothic;
  font-weight: 500;
  font-size: 16px;
  overflow-X: hidden; /* 채팅방을 숨겼을 때, 가로 스크롤바가 생기지 않게하기 위함 */
}

ul, li {
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: black;
}

/* Mobile */
@media (max-width: 749px) {
  .hide-on-small {
    display: none !important;
  }
  .hide-on-big {
    display: block;
  }
}

/* Desktop */
@media (min-width: 750px) {
  html, body {
    min-width: 750px;
  }
  .hide-on-small {
    display: block;
  }
  .hide-on-big {
    display: none !important;
  }
}

@font-face {
  font-family: 'NEXONLv1Gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv1Gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NEXONLv1Gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
