/* 공통으로 적용되어야할 css */
html, body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: NEXONLv1Gothic;
  font-weight: 500;
  font-size: 16px;
}

ul, li {
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: black;
}

/* Mobile */
@media (max-width: 749px) {
  .hide-on-small {
    display: none !important;
  }
  .hide-on-big {
    display: block;
  }
}

/* Desktop */
@media (min-width: 750px) {
  html, body {
    min-width: 750px;
  }
  .hide-on-small {
    display: block;
  }
  .hide-on-big {
    display: none !important;
  }
}

@font-face {
  font-family: 'NEXONLv1Gothic';
  font-weight: 600;
  src: url('../../assets/fonts/NEXONLv1GothicBold.ttf');
}
@font-face {
  font-family: 'NEXONLv1Gothic';
  font-weight: 500;
  src: url('../../assets/fonts/NEXONLv1GothicRegular.ttf');
}
@font-face {
  font-family: 'NEXONLv1Gothic';
  font-weight: 400;
  src: url('../../assets/fonts/NEXONLv1GothicLight.ttf');
}
